{% extends 'base.html' %}

{% block content %}
{% for recipe in recipes %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h1 class="card-text">Name: {{ recipe.title }}</h1>
        <p class="card-text">Description: {{ recipe.description }}</p>
        <p class="card-text">Author: {{ recipe.author }}</p>
        {% if recipe.author == current_user %}
        <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn btn-primary">Edit</a>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endblock %}